Flask~=2.3.0
requests~=2.31.0
beautifulsoup4==4.13.4
llama-index
llama-index-llms-openai==0.1.22
llama-index-embeddings-openai==0.1.10
openai==1.35.13
python-dotenv==1.0.0
pathlib==1.0.1
lxml~=4.9.0
html5lib~=1.1